<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .form-style{
       background: white;
       padding: 30px;
       border-radius: 12px;
       box-shadow: 0 8px 20px rgba(0,0,0,0.1);
       width: 300px;
       }
</style>
<body>
    <div class="form-style">
        {% if error %}
            <div class="error">{{error}}</div>
        {% endif %}
        <form action=""method='POST'>
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username">
            <label for="password">Password</label>
            <input type="password" name="passsword">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>